<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277759358712-uog136lmjkohbi7cps6in6ufgrhg0c0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277759358712-uog136lmjkohbi7cps6in6ufgrhg0c0i</string>
	<key>API_KEY</key>
	<string>AIzaSyAOfN6exLBfKAskB59j7X8m9lWCeg3Av9k</string>
	<key>GCM_SENDER_ID</key>
	<string>277759358712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstapp</string>
	<key>PROJECT_ID</key>
	<string>barber-shop-53434</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-shop-53434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277759358712:ios:c20dffac2c21a33d10ad0d</string>
</dict>
</plist>